@import '../../styles/mixins';

.home-agency {
  border: 2px solid $gray-med;
  background-color: $white;
  padding: 0px;
  margin-bottom: 20px;
  position: relative;
  * {
    // transition: all 0.3s linear;
  }
  .legend{
    padding-left: 65px;
    color: $text-gray;
    font-size: 0.85rem;
  }
  h3.agency{
    font-size: 1.4em;
    margin: 0;
    span{
      font-weight: normal;
      font-size: 0.9rem;
      color: $text-gray;
    }
  }
  a.header{
    color: $black;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 25px 25px;
    background: url(../images/carrot-down.svg) right 25px center no-repeat;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
  .subtitle{
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    > div {
      display: flex;
      color: $purple;
      font-weight: bold;
      .label{
        color: $text-gray;
        display: inline-block;
        padding-right: 5px;
        font-weight: normal;
      }
    }
  }
  // closed
  > .bottom {

    .subtitle,
    .legend,
    .desc,
    .quorum{
      max-height: 0;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
    .desc{
      line-height: 1.4;
      font-size: 0.9rem;
    }
    .quorum{
      text-align: right;
      font-size: 0.9rem;
    }
    .members {
      display: flex;
      position: absolute;
      right: 60px;
      top: 20px;
      $boxWidth: 35px;
      .member{
        display: flex;
        .info{
          max-width: 0px;
          overflow: hidden;
          height: $boxWidth;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .status{
          width: $boxWidth;
          background-color: $gray-med;
          margin-right: 5px;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &.vacant{
          .status{
            width: $boxWidth - 8;
            background-color: #fff;
            border: 4px solid $black;
          }
        }
        &.republican{
          .status{
            background-color: $red-light;
          }
          &.vacant{
            .status{
              border-color: $red;
              background-color: #fff;
            }
          }
        }
        &.democrat{
          .status{
            background-color: $blue-light;
          }
          &.vacant{
            .status{
              border-color: $blue;
              background-color: #fff;
            }
          }
        }
        &.expired{
          .status{
            background-image: url(../images/expired-whiteX.svg);
            background-size: 45%;
          }
        }
        &.pending{
          display: none;
          .status{
            background-image: url(../images/diagonal-lines.svg);
            // background-size: 45%;
          }
        }
        &.expired,
        &.pending,
        &.vacant{
          .top{
            .term{
              color: $red;
            }
          }
        }
      }
    }
  }
  // OPEN //
  &.open{
    a.header{
      padding-bottom: 0;
      background-image: url(../images/carrot-up.svg);
      background-position-y: 30px;
    }
    > .bottom{
      .subtitle,
      .legend,
      .desc,
      .quorum{
        max-height: 500px;
      }
      .legend{
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 65px;
      }
    }
    > .bottom{
      padding: 0px 25px 25px 25px;
      .right{
        text-align: right;
      }

    }
    .subtitle{
      padding-top: 10px;
      margin-bottom: 20px;
      > div {
        .label{
          padding-right: 5px;
        }
      }
    }
    .desc{
      margin-bottom: 20px;
    }
    .quorum{
      margin-bottom: 10px;
      span{
        display: inline-block;
        padding-left: 20px;
        background: url(../images/quorum-no.svg) left center no-repeat;
      }
      &.reached{
        span{
          padding-left: 22px;
          background-image: url(../images/quorum-yes.svg);
        }
      }
    }
    .members {
      display: block;
      position: relative;
      top: 0;
      right: auto;
      .member{
        background-color: $gray-light;
        margin-bottom: 10px;
        min-height: 65px;
        .info{
          padding: 10px 15px;
          flex-grow: 1;
          max-width: 100%;
          height: auto;
        }
        .status{
          margin-right: 0;
          width: 50px;
        }
        &.vacant{
          .status{
            width: 42px;
          }
        }
        &.pending{
          display: flex;
        }
        &.expired{
          .status{
            background-position-y: 10px;
          }
        }
        .top{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .name{
            font-weight: bold;
            font-size: 1.1rem;
            span{
              font-weight: normal;
              color: $text-gray;
              font-size: 0.9rem;
              display: inline-block;
              margin-left: 7px;
            }
          }
          .term{
            font-weight: bold;
            color: $text-gray;
            text-align: right;
          }
        }
        .bottom{
          margin-top: 7px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $text-gray;
          font-size: 0.8rem;
        }
      }
    }
  }
}

#modal{
  position: fixed;
  top: $navHeight;
  left: 0;
  width: 100%;
  height: calc(100vh - #{$navHeight});
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  padding: 100px;
  overflow-x: auto;
  .close{
    position: absolute;
    right: 50px;
    top: 30px;
    background: url(../images/close.svg) center center no-repeat;
    width: 40px;
    height: 40px;
    display: block;
  }
  .wrap{
    max-width: 900px;
    margin: auto;
  }
  .pagination{
    border-top: 1px solid $gray-med;
    margin-top: 30px;
    padding-top: 0px;
    h4{
      color: $text-gray;
      text-align: center;
      font-size: 1.2rem;
    }
    .pages{
      display: flex;
      justify-content: space-between;
      a {
        padding: 15px 0px 15px 40px;
        font-size: 0.9rem;;
        display: block;
        text-decoration: none;
        width: 300px;
        color: $text-dark;
        background: url(../images/carrot-left.svg) left center no-repeat;
        &.right{
          text-align: right;
          padding-left: 0;
          padding-right: 40px;
          background: url(../images/carrot-right.svg) right center no-repeat;
        }
      }
    }
  }
}
@media (max-width: $tablet-max) {
  .home-agency {
    h3.agency{
      width: 50%;
    }
    .subtitle {
      > div {
        flex-direction: column;
        align-items: center;
      }
    }
    > .bottom{
      .members{
        flex-wrap: wrap;
        width: 40%;
        justify-content: flex-end;
        .member{
          margin-bottom: 5px;
        }
      }
    }
    &.open{
      h3.agency{
        width: 100%;
      }
      > .bottom{
        .subtitle{
          margin-top: 10px !important;
        }
        .legend{
          padding-left: 0;
        }
        .members{
          flex-wrap: nowrap;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: $phone-max){
  #modal{
    padding: 75px 25px 25px 25px;
    .close{
      top: 0px;
      right: 20px;
    }
  }
  .home-agency{
    min-height: 180px;
    h3.agency{
      font-size: 1.3rem;
      width: 98%;
      margin-bottom: 10px;
    }
    > .bottom .members{
      right: 15px;
      bottom: 15px;
      top: auto;
      width: 88%;
    }
    &.open{
      > .bottom{
        .subtitle{
          flex-wrap: wrap;
          > div{
            width: 100%;
            margin-bottom: 10px;
            align-items: flex-start;
          }
        }
        .members{
          top: 0;
          bottom: auto;
          left: 0;
          right: auto;
          width: 100%;
          .member{
            .info{
              width: 100%;
            }
            &.pending{
              .status{
                background-size: auto 100%;
              }
            }
            .top{
              flex-wrap: wrap;
              .name{
                margin-bottom: 5px;
              }
            }
            .bottom{
              flex-wrap: wrap;
              > div{
                margin-bottom: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}