@import '../../styles/mixins';

h3.key{
  color: $text-gray;
  margin-bottom: 10px;
  > span{
    color: $text-dark;
    small{
      font-size: 0.8rem;
      font-weight: normal;
    }
  }
}
.home-member-votes {
  .votes{
    display: flex;
    justify-content: flex-end;
    .vote{
      font-size: 0.8rem;
      text-align: center;
      text-transform: capitalize;
      text-decoration: none;
      color: transparent;
      margin-left: 5px;
      position: relative;
      margin-bottom: 15px;
      cursor: pointer;
      &.active{
        color: $text-dark;
      }
      .vote-label{
        position: absolute;
        bottom: -15px;
        left: -38px;
        width: 100px;
        text-align: center;
      }
    }
  }
}
