
$black: #000;
$white: #fff;
$gray: #7e7f7c;
$gray-med: #bebebd;
$gray-light: #f8f8f8;
$red: #b4291f;
$red-light: #e5b4b1;
$blue: #14309d;
$blue-light: #aabae0;
$purple: #552f71;
$green: #7bb077;
$green-dark: #3a772d;

$text-dark: $black;
$text-gray: $gray;

p{
  line-height: 1.6;
}