
$black: #000;
$white: #fff;
$gray: #7e7f7c;
$gray-med: #bebebd;
$gray-light: #f8f8f8;
$red: #b4291f;
$red-light: #e5b4b1;
$blue: #14309d;
$blue-light: #aabae0;
$purple: #552f71;
$green: #7bb077;
$green-dark: #3a772d;

$text-dark: $black;
$text-gray: $gray;

$navHeight: 131px;
$tablet-max: 1229px;
$phone-max: 767px;
$super-small: 320px;

p{
  line-height: 1.6;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  &.ntm{
    margin-top: 0;
  }
}
.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;
  li {
    display: inline;
    &::after{
      content:  ", ";
    }
    &:last-child::after{
      content: "";
    }
  }
}
a.btn{
  padding: 7px 35px;
  background-color: $purple;
  color: $white;
  font-size: 0.9rem;
  border: 1px solid transparent;
  &:hover{
    background-color: $white;
    border-color: $purple;
    color: $purple;
    text-decoration: none;
  }
}
.block{
  height: 18px;
  width: 22px;
  background-color: $white;
  border: 2px solid transparent;
  margin-bottom: 5px;
}
.good{
  .block{
    background-color: $green;
  }
  &.active{
    .block{
      border-color: $green-dark;
    }
  }
}
.bad{
  .block{
    background-color: $red-light;
  }
  &.active{
    .block{
      border-color: $red;
    }
  }
}
.no-vote{
  .block{
    background-color: $white;
  }
  &.active{
    .block{
      border-color: $gray;
    }
  }
}
.ineligible{
  .block{
    background-color: $gray-med;
  }
  &.active{
    .block{
      border-color: $gray;
    }
  }
}